.container--roles,
.container--roles--dark {
  transition: all 300ms ease;
}

.container--roles {
  background-color: #fff;
  color: #222c2a;
}

.container--roles--dark {
  background-color: #161616;
  color: #d8d8d8;
}

.section {
  &-title--roles,
  &-title--roles--dark {
    transition: color 300ms ease;
  }

  &-title--roles {
    color: #824936;
  }

  &-title--roles--dark {
    color: #f3eed9;
  }

  &-desc--roles::after,
  &-desc--roles--dark::after {
    transition: background-color 300ms ease;
  }

  &-desc--roles::after {
    background: #824936;
  }

  &-desc--roles--dark::after {
    background: #f3eed9;
  }
}

.roles__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  li {
    list-style-type: none;
    text-align: left;
    font-size: 1.25em;
    line-height: 2.5rem;
  }
}

@media (min-width: 900px) {
  .roles__list {
    li {
      font-size: 1.5em;
    }
  }
}
