.container--roles {
  background-color: #fff;
  color: #222c2a;
}

.section {
  &-title--roles {
    color: #824936;
  }

  &-desc--roles::after {
    background: #824936;
  }
}

.roles__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  li {
    list-style-type: none;
    text-align: left;
    font-size: 1.25em;
    line-height: 2.5rem;
  }
}

@media (min-width: 900px) {
  .roles__list {
    li {
      font-size: 1.5em;
    }
  }
}
