@use "src/scss/base";

.container--roles {
  background-color: base.$secondary-color;
  color: base.$tertiary-color;
}

.section-title--roles {
  color: base.$quaternary-color;
}

.section-desc--roles:after {
  background: base.$quaternary-color;
}

.roles__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.roles__list > li {
  list-style-type: none;
  text-align: start;
  font-size: 1.25em;
  line-height: 2.5rem;
}

@media (min-width: 900px) {
  .roles__list > li {
    font-size: 1.5em;
  }
}
