.scroll-icon::after {
  content: "";
  width: 4px;
  height: 6px;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
  transition: color 300ms ease;
}

@keyframes scroll {
  0% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(-7px);
  }
}
