@use "src/scss/base";

#personal-statement {
  background-color: base.$quaternary-color;
}

.container--statement {
  color: base.$secondary-color;
}

.section {
  &-title--statement {
    color: base.$primary-color;
  }

  &-desc--statement::after {
    background: base.$primary-color;
  }
}

.statement {
  &-content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-para {
    text-align: start;
    font-size: 1.25em;
    line-height: 2rem;
  }
}

@media (min-width: 900px) {
  .statement {
    &-content-container {
      gap: 3rem;
    }

    &-para {
      font-size: 1.5em;
      line-height: 2.25rem;
    }
  }
}
