@use "src/scss/base";

#personal-statement {
  background-color: base.$quaternary-color;
}

.container--statement {
  color: base.$secondary-color;
}

.section-title--statement {
  color: base.$primary-color;
}

.section-desc--statement::after {
  background: base.$primary-color;
}

.statement-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.statement-para {
  text-align: start;
  font-style: italic;
  font-size: 1.25em;
  line-height: 2rem;
}

@media (min-width: 900px) {
  .statement-content-container {
    gap: 3rem;
  }

  .statement-para {
    font-size: 1.5em;
    line-height: 2.25rem;
  }
}
