@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: 500;
}

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
}

.container {
  padding: 4rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin-bottom: 0.5rem;
}

.section-para {
  font-size: 1.5em;
  margin-bottom: 2rem;
  position: relative;
}

.section-para:after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  top: 105%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  border-radius: 40%;
  opacity: 50%;
}

/* 

  HEADER 

*/

#header {
  background-color: #f3eed9;
}

.container--header {
  min-height: 30vh;
  justify-content: center;
}

.header__subtitle {
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 0.25em;
  color: #222c2a;
}

.header__title {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #824936;
}

/* 

  ROLES 

*/

.container--roles {
  background-color: #fff;
  color: #222c2a;
}

.section-title--roles {
  color: #824936;
}

.section-para--roles:after {
  background: #824936;
}

.roles__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.roles__list > li {
  list-style-type: none;
  text-align: start;
  font-size: 1.25em;
  line-height: 2.5rem;
}

/* 

  GOALS

*/

#goals {
  background-color: #222c2a;
}

#five-year-goals {
  padding-bottom: 2rem;
}

.container--goals {
  color: #fff;
}

.section-title--goals {
  color: #f3eed9;
}

.section-para--goals:after {
  background: #f3eed9;
}

.five-year-goals__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.five-year-goals__list > li {
  text-align: start;
  font-size: 1.25em;
  line-height: 2.5rem;
}

.milestone__container {
  margin-bottom: 2rem;
}

.milestone__category {
  text-align: start;
  text-decoration: underline;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.milestone__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.25rem;
}

.milestone__list > li {
  text-align: start;
  font-size: 1.25em;
}

.milestone__complete {
  opacity: 0.5;
}

/* 

  PERSONAL STATEMENT

*/

#personal-statement {
  background-color: #824936;
}

.container--statement {
  color: #fff;
}

.section-title--statement {
  color: #f3eed9;
}

.section-para--statement:after {
  background: #f3eed9;
}

.statement-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.statement-para {
  text-align: start;
  font-style: italic;
  font-size: 1.25em;
  line-height: 2rem;
}

@media (min-width: 600px) {
  .section-para:after {
    top: 110%;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 5rem 3rem;
  }

  .header__subtitle {
    font-size: 2em;
  }

  .header__title {
    font-size: 4em;
    letter-spacing: 0.05em;
  }

  .section-title {
    font-size: 2.75em;
  }

  .section-para {
    font-size: 1.75em;
  }

  .roles__list > li,
  .five-year-goals__list > li,
  .milestone__list > li {
    font-size: 1.5em;
  }

  .statement-content-container {
    gap: 3rem;
  }

  .statement-para {
    font-size: 1.5em;
    line-height: 2.25rem;
  }
}

@media (min-width: 1200px) {
  .section-para:after {
    top: 120%;
  }

  .section-para {
    margin-bottom: 4rem;
  }

  #five-year-goals {
    padding-bottom: 4rem;
  }
}
