@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Dark Palette - #11151c, #151b25, #19212e, #212d40, #273246, #2c374b, #313c51, #343f54, #364156, #485265 */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #d8d8d8;
  background: #11151c;
}
