.section {
  &Title {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
  }

  &Desc {
    font-size: 1.5em;
    margin-bottom: 2rem;
    position: relative;
  }

  &Desc::after {
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    top: 105%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: absolute;
    border-radius: 40%;
    opacity: 50%;
  }
}

@media (min-width: 600px) {
  .sectionDesc::after {
    top: 110%;
  }
}

@media (min-width: 900px) {
  .section {
    &Title {
      font-size: 2.75em;
    }

    &Desc {
      font-size: 1.75em;
    }
  }
}

@media (min-width: 1200px) {
  .section {
    &Desc::after {
      top: 120%;
    }

    &Desc {
      margin-bottom: 4rem;
    }
  }
}
