@use "src/scss/base";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: base.$roboto;
}

.bold {
  font-weight: 500;
}

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
}

.container {
  padding: 4rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-title {
  font-family: base.$playfair;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin-bottom: 0.5rem;
}

.section-desc {
  font-size: 1.5em;
  margin-bottom: 2rem;
  position: relative;
}

.section-desc::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  top: 105%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  border-radius: 40%;
  opacity: 50%;
}

@media (min-width: 600px) {
  .section-desc::after {
    top: 110%;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 5rem 3rem;
  }

  .section-title {
    font-size: 2.75em;
  }

  .section-desc {
    font-size: 1.75em;
  }
}

@media (min-width: 1200px) {
  .section-desc::after {
    top: 120%;
  }

  .section-desc {
    margin-bottom: 4rem;
  }
}
