@use "config";
@use "utilities";
@use "sections";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: roboto;
}

button {
  background-color: transparent;
  border: none;
}

@media (min-width: 600px) {
  .section-desc::after {
    top: 110%;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 5rem 3rem;
  }

  .section {
    &-title {
      font-size: 2.75em;
    }

    &-desc {
      font-size: 1.75em;
    }
  }
}

@media (min-width: 1200px) {
  .section {
    &-desc::after {
      top: 120%;
    }

    &-desc {
      margin-bottom: 4rem;
    }
  }
}
