@use "src/scss/base";

#goals {
  background-color: base.$tertiary-color;
}

#five-year-goals {
  padding-bottom: 2rem;
}

.container--goals {
  color: base.$secondary-color;
}

.section-title--goals {
  color: base.$primary-color;
}

.section-desc--goals:after {
  background: base.$primary-color;
}

.five-year-goals__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.five-year-goals__list {
  li {
    text-align: start;
    font-size: 1.25em;
    line-height: 2.5rem;
  }
}

.milestone__container {
  margin-bottom: 2rem;
}

.milestone__category {
  text-align: start;
  text-decoration: underline;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.milestone__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1.25rem;
}

.milestone__list {
  li {
    text-align: start;
    font-size: 1.25em;
  }
}

.milestone__complete {
  opacity: 0.5;
}

@media (min-width: 900px) {
  .five-year-goals__list,
  .milestone__list {
    li {
      font-size: 1.5em;
    }
  }
}

@media (min-width: 1200px) {
  #five-year-goals {
    padding-bottom: 4rem;
  }
}
