.goals {
  background-color: #222c2a;
}

.goals--dark {
  background-color: #161616;
}

#five-year-goals {
  padding-bottom: 2rem;
}

.container--goals {
  color: #fff;
}

.section {
  &-title--goals {
    color: #f3eed9;
  }

  &-desc--goals::after {
    background: #f3eed9;
  }
}

.five-year-goals__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  li {
    text-align: left;
    font-size: 1.25em;
    line-height: 2.5rem;
  }
}

.milestone {
  &__container {
    margin-bottom: 2rem;
  }

  &__category {
    text-align: left;
    text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1.25rem;

    li {
      text-align: left;
      font-size: 1.25em;
    }
  }

  &__complete {
    opacity: 0.5;
  }
}

@media (min-width: 900px) {
  .five-year-goals__list,
  .milestone__list {
    li {
      font-size: 1.5em;
    }
  }
}

@media (min-width: 1200px) {
  #five-year-goals {
    padding-bottom: 4rem;
  }
}
